<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/new_ui/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_ui/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_ui/catalog.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="cont">
            <div class="navbar">

                <img id="logo" src="{% static 'imgs/logo.svg' %}">

                <ul class="main-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/examples">Примеры работ</a></li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="/categories">Категории</a></li>
                    <li><a href="/about">О нас</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/trash">Корзина</a></li>
                        <li><a href="/my_orders">Мои заказы</a></li>
                        <li><a href="/user/{{request.user.id}}">Личный кабинет</a></li>
                    {% endif %}
                </ul>

                {% if not request.user.is_authenticated %}
                    <a id="to_products_link" href="/login">Авторизоваться</a>
                {% else %}
                    <a id="to_products_link" href="/logout">Выйти</a>
                {% endif %}
            </div>

    <div id="mob_modal" style="top: -49vh" class="mobile-modal">
        <div class="content-contain">
            <div class="links">
                <div class="link">
                    <a class="mobm" href="/about">Категории</a>
                </div>
                <div class="link">
                    <a class="mobm" href="/examples">Примеры работ</a>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="link">
                        <a class="mobm" href="/my_orders">Мои заказы</a>
                    </div>
                {% endif %}
                <div class="link">
                    <a class="mobm" href="/about">О нас</a>
                </div>
            </div>
            <div class="but-con">
                <button id="moon" onclick="close_m()">Закрыть</button>
            </div>
        </div>
    </div>

    <div class="navbar-mobile">
        <ul class="main-menu">
                    <li><a class="lio" href="/">
                        <image class="nav-im hm" src="{% static 'imgs/home.png' %}"></image>
                    </a></li>
                    <li><a class="lio" href="/catalog">Каталог</a></li>
                    <li><button id="menus" onclick="show_menu()">Меню</button></li>
                    {% if request.user.is_authenticated %}
                        <li><a class="lio" href="/user/{{request.user.id}}">Профиль</a></li>
                        <li><a class="lio" href="/trash">
                            <image class="nav-im" src="{% static 'imgs/shopping-cart.png' %}"></image>
                        </a></li>
                    {% else %}
                        <li><a class="lio" href="/login">
                            <image class="nav-im hm" src="{% static 'imgs/enter.png' %}"></image>
                        </a></li>
                    {% endif %}
                </ul>

    </div>
    <div class="moo">
        <div class="nlo">

            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <h4>© 2024 Весёлые дворики.</h4>
        </div>
    </div>
</div>

<script>
    function show_menu(){
        if (document.getElementById('mob_modal').style.top == '-49vh'){
            document.getElementById('mob_modal').style.top = '0vh'}
        else{
            document.getElementById('mob_modal').style.top = '-49vh'}
    }

    function close_m(){
        document.getElementById('mob_modal').style.top = '-49vh'
    }
</script>

{% block scripts %}

{% endblock %}
</body>
</html>
