<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/new_ui/register.css' %}">
    <title>Title</title>
</head>
<body>

    <div id="left">
        <a href="/">
            <img src="{% static 'imgs/logo.png' %}" alt="">
        </a>
    </div>
    <div id="right">

        <h1 id="title">Авторизация</h1>

        <form method="post">
            {% for f in form %}
                {{ f }}
            {% endfor %}

            {% if error %}
                <span style="color: red; margin-bottom: 0.5rem;">{{ error }}</span>
            {% endif %}

            {% csrf_token %}

            <button type="submit">
                Войти
            </button>
        </form>

        <b>Не зарегистрированы?</b><a href="/register">Зарегистрироваться</a></span>
    </div>

</body>
</html>