{% extends 'new_ui/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/new_ui/kab.css' %}">
{% endblock %}

{% block content %}
<div class="table_o">

    <div class="oop">
            <div class="filler"></div>
                <div class="form">
                    <form class="forma" action="" method="post" enctype="multipart/form-data">

                        {% for f in form %}
                                <div class="form-field">
                                    <label id="label_{{ f.id_for_label }}" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                    {{ f }}
                                </div>
                                {% if f.errors %}
                                    {{f.errors}}
                                {% endif %}
                        {% endfor %}

                        {% csrf_token %}
                        <button class="form-button" type="submit">Сохранить</button>
                    </form>
                </div>
            <div class="filler">
            </div>
        </div>

</div>
{% endblock %}
