.product-info {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15vh;
    height: 100%;
}

.product-image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}

.image_photo {
    height: auto;
    width: 70%;
}

.product-data-block {
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}

.product-data > span {
    font-size: 24px;
}

.product-data-price > span {
    color: green;
    font-size: 28px;
}

.product-data {
    height: auto;
    margin-bottom: 0.5rem;
}

.to_trash-button {
    display: block;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    border: none;
    background-color: #39a157;
    width: 5vw;
    text-align: center;
    color: whitesmoke;
}

.to_trash-button:hover {
    background-color: #47e374;
}
